<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.waterapi.mapper.WaterLevelMapper">

    <select id="existsWaterLevel" parameterType="com.example.demo.waterapi.vo.WaterLevelVo" resultType="int">
        SELECT COUNT(1)
        FROM water_level_min
        WHERE wlobscd = #{wlobscd}
          AND ymdhm = #{ymdhm}
    </select>

    <insert id="insertWaterLevel" parameterType="com.example.demo.waterapi.vo.WaterLevelVo">
        INSERT INTO water_level_min (
            id, wlobscd, obsnm, ymdhm, wl, fw, update_dt
        ) VALUES (
                     #{id}, #{wlobscd}, #{obsnm}, #{ymdhm}, #{wl}, #{fw}, NOW()
                 )
    </insert>

    <update id="updateWaterLevel" parameterType="com.example.demo.waterapi.vo.WaterLevelVo">
        UPDATE water_level_min
        SET wl = #{wl},
            fw = #{fw},
            update_dt = NOW()
        WHERE wlobscd = #{wlobscd}
          AND ymdhm = #{ymdhm}
    </update>

    <select id="findAll" resultType="com.example.demo.waterapi.vo.WaterLevelVo">
        SELECT id, wlobscd, obsnm, ymdhm, wl, fw, update_dt
        FROM water_level_min
    </select>

    <update id="updateSeq">
        UPDATE seq_water_level SET seq = LAST_INSERT_ID(seq + 1)
    </update>

    <select id="getLastSeq" resultType="long">
        SELECT LAST_INSERT_ID()
    </select>

    <!--    &lt;!&ndash; 한강 10분 단위 &ndash;&gt;-->
<!--    <insert id="insertOrUpdateWaterhangang" parameterType="com.gbsoft.waterapi.vo.WaterLevelVo">-->
<!--        INSERT INTO water_hangang_min (-->
<!--            wlobscd, obsnm, ymdhm, wl, fw-->
<!--        ) VALUES (-->
<!--                     #{wlobscd}, #{obsnm}, #{ymdhm}, #{wl}, #{fw}-->
<!--                 )-->
<!--            ON DUPLICATE KEY UPDATE-->
<!--                                 wl = IF(VALUES(wl) IS NOT NULL, VALUES(wl), wl),-->
<!--                                 fw = IF(VALUES(fw) IS NOT NULL, VALUES(fw), fw)-->
<!--    </insert>-->

<!--    &lt;!&ndash; 청담 10분 단위 &ndash;&gt;-->
<!--    <insert id="insertOrUpdateWatercheongdam" parameterType="com.gbsoft.waterapi.vo.WaterLevelVo">-->
<!--        INSERT INTO water_cheongdam_min (-->
<!--            wlobscd, obsnm, ymdhm, wl, fw-->
<!--        ) VALUES (-->
<!--                     #{wlobscd}, #{obsnm}, #{ymdhm}, #{wl}, #{fw}-->
<!--                 )-->
<!--            ON DUPLICATE KEY UPDATE-->
<!--                                 wl = IF(VALUES(wl) IS NOT NULL, VALUES(wl), wl),-->
<!--                                 fw = IF(VALUES(fw) IS NOT NULL, VALUES(fw), fw)-->
<!--    </insert>-->

<!--    &lt;!&ndash; 한강 1시간 단위 &ndash;&gt;-->
<!--    <insert id="insertOrUpdateWaterHangangHour" parameterType="com.gbsoft.waterapi.vo.WaterLevelVo">-->
<!--        INSERT INTO water_hangang_hour (-->
<!--            wlobscd, obsnm, ymdhm, wl, fw-->
<!--        ) VALUES (-->
<!--                     #{wlobscd}, #{obsnm}, #{ymdhm}, #{wl}, #{fw}-->
<!--                 )-->
<!--            ON DUPLICATE KEY UPDATE-->
<!--                                 wl = IF(VALUES(wl) IS NOT NULL, VALUES(wl), wl),-->
<!--                                 fw = IF(VALUES(fw) IS NOT NULL, VALUES(fw), fw)-->
<!--    </insert>-->

<!--    &lt;!&ndash; 청담 1시간 단위 &ndash;&gt;-->
<!--    <insert id="insertOrUpdateWaterCheongdamHour" parameterType="com.gbsoft.waterapi.vo.WaterLevelVo">-->
<!--        INSERT INTO water_cheongdam_hour (-->
<!--            wlobscd, obsnm, ymdhm, wl, fw-->
<!--        ) VALUES (-->
<!--                     #{wlobscd}, #{obsnm}, #{ymdhm}, #{wl}, #{fw}-->
<!--                 )-->
<!--            ON DUPLICATE KEY UPDATE-->
<!--                                 wl = IF(VALUES(wl) IS NOT NULL, VALUES(wl), wl),-->
<!--                                 fw = IF(VALUES(fw) IS NOT NULL, VALUES(fw), fw)-->
<!--    </insert>-->

<!--    &lt;!&ndash; 한강 일 단위 &ndash;&gt;-->
<!--    <insert id="insertOrUpdateWaterHangangDay" parameterType="com.gbsoft.waterapi.vo.WaterLevelVo">-->
<!--        INSERT INTO water_hangang_day (-->
<!--            wlobscd, obsnm, ymdhm, wl, fw-->
<!--        ) VALUES (-->
<!--                     #{wlobscd}, #{obsnm}, #{ymdhm}, #{wl}, #{fw}-->
<!--                 )-->
<!--            ON DUPLICATE KEY UPDATE-->
<!--                                 wl = IF(VALUES(wl) IS NOT NULL, VALUES(wl), wl),-->
<!--                                 fw = IF(VALUES(fw) IS NOT NULL, VALUES(fw), fw)-->
<!--    </insert>-->

<!--    &lt;!&ndash; 청담 일 단위 &ndash;&gt;-->
<!--    <insert id="insertOrUpdateWaterCheongdamDay" parameterType="com.gbsoft.waterapi.vo.WaterLevelVo">-->
<!--        INSERT INTO water_cheongdam_day (-->
<!--            wlobscd, obsnm, ymdhm, wl, fw-->
<!--        ) VALUES (-->
<!--                     #{wlobscd}, #{obsnm}, #{ymdhm}, #{wl}, #{fw}-->
<!--                 )-->
<!--            ON DUPLICATE KEY UPDATE-->
<!--                                 wl = IF(VALUES(wl) IS NOT NULL, VALUES(wl), wl),-->
<!--                                 fw = IF(VALUES(fw) IS NOT NULL, VALUES(fw), fw)-->
<!--    </insert>-->



</mapper>
